<ul>
  <% @users.each do |user| %>
    <li><%=h user.name %> <%= link_to 'Impersonate', impersonation_path(:user_id => user.id), :method => :post, :id => "impersonate_#{user.id}" %></li>
  <% end %>
</ul>
